In [1]:
import pandas as pd
import pm4py

In [33]:
action_data_df = pd.read_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData.csv')
print('Action data:')
print(action_data_df.columns)
display(action_data_df.head())
tracking_data_away_df = pd.read_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawTrackingData_Away_Team.csv', skiprows=2)
print('Tracking data away:')
print(tracking_data_away_df.columns)
display(tracking_data_away_df.head())
tracking_data_home_df = pd.read_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawTrackingData_Home_Team.csv', skiprows=2)
print('Tracking data home:')
print(tracking_data_home_df.columns)
display(tracking_data_home_df.head())

Action data:
Index(['Team', 'Type', 'Subtype', 'Period', 'Start Frame', 'Start Time [s]',
       'End Frame', 'End Time [s]', 'From', 'To', 'Start X', 'Start Y',
       'End X', 'End Y'],
      dtype='object')

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,0.45,0.39,0.55,0.43
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,0.45,0.32,0.49,0.47

Tracking data away:
Index(['Period', 'Frame', 'Time [s]', 'Player25', 'Unnamed: 4', 'Player15',
       'Unnamed: 6', 'Player16', 'Unnamed: 8', 'Player17', 'Unnamed: 10',
       'Player18', 'Unnamed: 12', 'Player19', 'Unnamed: 14', 'Player20',
       'Unnamed: 16', 'Player21', 'Unnamed: 18', 'Player22', 'Unnamed: 20',
       'Player23', 'Unnamed: 22', 'Player24', 'Unnamed: 24', 'Player26',
       'Unnamed: 26', 'Player27', 'Unnamed: 28', 'Player28', 'Unnamed: 30',
       'Ball', 'Unnamed: 32'],
      dtype='object')

,Period,Frame,Time [s],Player25,Unnamed: 4,Player15,Unnamed: 6,Player16,Unnamed: 8,Player17,...,Player24,Unnamed: 24,Player26,Unnamed: 26,Player27,Unnamed: 28,Player28,Unnamed: 30,Ball,Unnamed: 32
0,1,1,0.04,0.90509,0.47462,0.58393,0.20794,0.67658,0.46710,0.67310,...,0.37833,0.27383,NaN,NaN,NaN,NaN,NaN,NaN,0.45472,0.38709
1,1,2,0.08,0.90494,0.47462,0.58393,0.20794,0.67658,0.46710,0.67310,...,0.37833,0.27383,NaN,NaN,NaN,NaN,NaN,NaN,0.49645,0.40656
2,1,3,0.12,0.90434,0.47463,0.58393,0.20794,0.67658,0.46710,0.67310,...,0.37833,0.27383,NaN,NaN,NaN,NaN,NaN,NaN,0.53716,0.42556
3,1,4,0.16,0.90377,0.47463,0.58351,0.20868,0.67640,0.46762,0.67279,...,0.37756,0.27473,NaN,NaN,NaN,NaN,NaN,NaN,0.55346,0.42231
4,1,5,0.20,0.90324,0.47464,0.58291,0.21039,0.67599,0.46769,0.67253,...,0.37663,0.27543,NaN,NaN,NaN,NaN,NaN,NaN,0.55512,0.40570

Tracking data home:
Index(['Period', 'Frame', 'Time [s]', 'Player11', 'Unnamed: 4', 'Player1',
       'Unnamed: 6', 'Player2', 'Unnamed: 8', 'Player3', 'Unnamed: 10',
       'Player4', 'Unnamed: 12', 'Player5', 'Unnamed: 14', 'Player6',
       'Unnamed: 16', 'Player7', 'Unnamed: 18', 'Player8', 'Unnamed: 20',
       'Player9', 'Unnamed: 22', 'Player10', 'Unnamed: 24', 'Player12',
       'Unnamed: 26', 'Player13', 'Unnamed: 28', 'Player14', 'Unnamed: 30',
       'Ball', 'Unnamed: 32'],
      dtype='object')

,Period,Frame,Time [s],Player11,Unnamed: 4,Player1,Unnamed: 6,Player2,Unnamed: 8,Player3,...,Player10,Unnamed: 24,Player12,Unnamed: 26,Player13,Unnamed: 28,Player14,Unnamed: 30,Ball,Unnamed: 32
0,1,1,0.04,0.00082,0.48238,0.32648,0.65322,0.33701,0.48863,0.30927,...,0.55243,0.43269,NaN,NaN,NaN,NaN,NaN,NaN,0.45472,0.38709
1,1,2,0.08,0.00096,0.48238,0.32648,0.65322,0.33701,0.48863,0.30927,...,0.55243,0.43269,NaN,NaN,NaN,NaN,NaN,NaN,0.49645,0.40656
2,1,3,0.12,0.00114,0.48238,0.32648,0.65322,0.33701,0.48863,0.30927,...,0.55243,0.43269,NaN,NaN,NaN,NaN,NaN,NaN,0.53716,0.42556
3,1,4,0.16,0.00121,0.48238,0.32622,0.65317,0.33687,0.48988,0.30944,...,0.55236,0.43313,NaN,NaN,NaN,NaN,NaN,NaN,0.55346,0.42231
4,1,5,0.20,0.00129,0.48238,0.32597,0.65269,0.33664,0.49018,0.30948,...,0.55202,0.43311,NaN,NaN,NaN,NaN,NaN,NaN,0.55512,0.40570

In [50]:
# Start by perparing the events data
# make players unique (right now players of away and home teams are not unique)
def preprocess_action_data(action_data_df):
    action_data_df = action_data_df.copy()
    action_data_df['From'] = action_data_df.apply(lambda row: f"{row['Team']}_{row['From']}" if pd.notna(row['From']) else row['From'], axis=1)
    action_data_df['To'] = action_data_df.apply(lambda row: f"{row['Team']}_{row['To']}" if pd.notna(row['To']) else row['To'], axis=1)
    return action_data_df

preprocessed_action_data_df = preprocess_action_data(action_data_df)
preprocessed_action_data_df.head()

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Away_Player19,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,1,0.04,3,0.12,Away_Player19,Away_Player21,0.45,0.39,0.55,0.43
2,Away,PASS,NaN,1,3,0.12,17,0.68,Away_Player21,Away_Player15,0.55,0.43,0.58,0.21
3,Away,PASS,NaN,1,45,1.80,61,2.44,Away_Player15,Away_Player19,0.55,0.19,0.45,0.31
4,Away,PASS,NaN,1,77,3.08,96,3.84,Away_Player19,Away_Player21,0.45,0.32,0.49,0.47

In [ ]:
from pm4py.objects.ocel.obj import OCEL
ocel = OCEL()
ocel.objects.merge

Empty DataFrame
Columns: [ocel:oid, ocel:type]
Index: []

In [52]:
def reshape_tracking(df, team_label):
    long_rows = []
    for col in df.columns:
        if col.startswith("Player"):
            x_col = col
            y_col = f"Unnamed: {int(df.columns.get_loc(col)) + 1}"
            for _, row in df.iterrows():
                long_rows.append({
                    "Time [s]": row["Time [s]"],
                    "Frame": row["Frame"],
                    "Team": team_label.capitalize(),
                    "Player": f"{team_label.capitalize()}_{col}",
                    "X": row[x_col],
                    "Y": row[y_col]
                })
    return pd.DataFrame(long_rows)

tracking_long_home_df = reshape_tracking(tracking_data_home_df, "home")
tracking_long_away_df = reshape_tracking(tracking_data_away_df, "away")
tracking_long_df = pd.concat([tracking_long_home_df, tracking_long_away_df])
tracking_long_df.head()

   Time [s]  Frame  Team         Player        X        Y
0      0.04    1.0  Home  Home_Player11  0.00082  0.48238
1      0.08    2.0  Home  Home_Player11  0.00096  0.48238
2      0.12    3.0  Home  Home_Player11  0.00114  0.48238
3      0.16    4.0  Home  Home_Player11  0.00121  0.48238
4      0.20    5.0  Home  Home_Player11  0.00129  0.48238

In [53]:
# add grid position to tracking long
import helpers
tracking_long_df['Grid Position'] = tracking_long_df.apply(lambda row: helpers.get_field_position(row['X'], row['Y']), axis=1)
tracking_long_df.head()

   Time [s]  Frame  Team         Player        X        Y Grid Position
0      0.04    1.0  Home  Home_Player11  0.00082  0.48238            A5
1      0.08    2.0  Home  Home_Player11  0.00096  0.48238            A5
2      0.12    3.0  Home  Home_Player11  0.00114  0.48238            A5
3      0.16    4.0  Home  Home_Player11  0.00121  0.48238            A5
4      0.20    5.0  Home  Home_Player11  0.00129  0.48238            A5

In [54]:
# identify only events when grid position of player changes
def get_grid_change_events(tracking_df):
    tracking_df = tracking_df.sort_values(by=['Player', 'Time [s]'])
    tracking_df['Prev Grid Position'] = tracking_df.groupby('Player')['Grid Position'].shift(1)
    grid_change_events = tracking_df[tracking_df['Grid Position'] != tracking_df['Prev Grid Position']]
    return grid_change_events

tracking_grid_change_events_df = get_grid_change_events(tracking_long_df)
display(tracking_grid_change_events_df.head())

,Time [s],Frame,Team,Player,X,Y,Grid Position,Prev Grid Position
145006,0.04,1.0,Away,Away_Player15,0.58393,0.20794,F3,NaN
145029,0.96,24.0,Away,Away_Player15,0.56821,0.19967,F2,F3
145084,3.16,79.0,Away,Away_Player15,0.54274,0.20009,F3,F2
145160,6.20,155.0,Away,Away_Player15,0.54714,0.30046,F4,F3
145223,8.72,218.0,Away,Away_Player15,0.50298,0.40046,F5,F4

In [55]:
# build individual object dfs

# Add required OCEL columns to player metadata
player_metadata_df = pd.DataFrame()
player_metadata_df["ocel:object_id"] = preprocessed_action_data_df["From"].unique()
player_metadata_df["ocel:object_type"] = "player"

# Add required OCEL columns to team metadata
team_metadata_df = pd.DataFrame()
team_metadata_df["ocel:object_id"] = preprocessed_action_data_df["Team"].unique()
team_metadata_df["ocel:object_type"] = "team"

# Add required OCEL columns to grid metadata
gridpos_metadata_df = pd.DataFrame()
gridpos_metadata_df["ocel:object_id"] = tracking_grid_change_events_df["Grid Position"].unique()
gridpos_metadata_df["ocel:object_type"] = "gridpos"

# Merge into one metadata dataframe
metadata_df = pd.concat([player_metadata_df, team_metadata_df, gridpos_metadata_df], ignore_index=True)
metadata_df

    ocel:object_id ocel:object_type
0    Away_Player19           player
1    Away_Player21           player
2    Away_Player15           player
3    Away_Player22           player
4    Away_Player17           player
..             ...              ...
147            A11          gridpos
148            I11          gridpos
149            K11          gridpos
150            J11          gridpos
151             K9          gridpos

[152 rows x 2 columns]

In [56]:
# build event log
event_list = []

# Add action events
for _, row in preprocessed_action_data_df.iterrows():
    event = {
        "concept:name": row["Type"],
        "time:timestamp": pd.to_datetime(row["Start Time [s]"], unit='s'),
        "ocel:related_objects": {f"team:{row['Team']}"}
    }
    # TODO add gridpos
    if pd.notna(row["From"]):
        event["ocel:related_objects"].add(f"player:{row['From']}")
    if pd.notna(row["To"]):
        event["ocel:related_objects"].add(f"player:{row['To']}")
    event_list.append(event)

# TODO add tracking events

all_events = pd.DataFrame(event_list)
# Set the index as event id
all_events.index.name = "event_id"
all_events

,concept:name,time:timestamp,ocel:related_objects
event_id,,,
0,SET PIECE,1970-01-01 00:00:00.040,"{player:Away_Player19, team:Away}"
1,PASS,1970-01-01 00:00:00.040,"{player:Away_Player19, player:Away_Player21, t..."
2,PASS,1970-01-01 00:00:00.120,"{player:Away_Player21, team:Away, player:Away_..."
3,PASS,1970-01-01 00:00:01.800,"{player:Away_Player19, team:Away, player:Away_..."
4,PASS,1970-01-01 00:00:03.080,"{player:Away_Player19, player:Away_Player21, t..."
...,...,...,...
1740,PASS,1970-01-01 01:35:34.440,"{player:Home_Player12, player:Home_Player13, t..."
1741,PASS,1970-01-01 01:35:43.120,"{player:Home_Player13, player:Home_Player4, te..."
1742,BALL LOST,1970-01-01 01:35:43.920,"{player:Home_Player4, team:Home}"
1743,RECOVERY,1970-01-01 01:35:44.680,"{player:Away_Player16, team:Away}"
1744,BALL OUT,1970-01-01 01:35:44.880,"{player:Away_Player16, team:Away}"

In [49]:
from pm4py.objects.ocel.importer.pandas import importer as ocel_importer
from pm4py.objects.ocel.obj import OCEL

params = {
    "event_id_column": "event_id",
    "timestamp_column": "time:timestamp",
    "activity_column": "concept:name",
    "related_objects_column": "ocel:related_objects"
}

ocel = ocel_importer.apply(df_events, parameters=params)

# Add object metadata
ocel.objects = object_df

ModuleNotFoundError: No module named 'pm4py.objects.ocel.importer.pandas'

In [ ]:
# create object entries
player_ids = home_players + away_players

object_entries = []

for pid in player_ids:
    object_entries.append({"ocel:object_id": pid, "ocel:object_type": "player"})

object_entries.append({"ocel:object_id": "ball", "ocel:object_type": "ball"})

In [ ]:
# merge tracking data
tracking_data_away_df['team'] = 'away'
tracking_data_home_df['team'] = 'home'
tracking_data_df = pd.concat([tracking_data_away_df, tracking_data_home_df], ignore_index=True)
print('Tracking data merged:')
display(tracking_data_df.head())

Tracking data merged:

,Period,Frame,Time [s],Player25,Unnamed: 4,Player15,Unnamed: 6,Player16,Unnamed: 8,Player17,...,Player4,Player5,Player6,Player7,Player8,Player9,Player10,Player12,Player13,Player14
0,1,1,0.04,0.90509,0.47462,0.58393,0.20794,0.67658,0.46710,0.67310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,0.08,0.90494,0.47462,0.58393,0.20794,0.67658,0.46710,0.67310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,0.12,0.90434,0.47463,0.58393,0.20794,0.67658,0.46710,0.67310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,0.16,0.90377,0.47463,0.58351,0.20868,0.67640,0.46762,0.67279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,0.20,0.90324,0.47464,0.58291,0.21039,0.67599,0.46769,0.67253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
tracking_data_df.columns

Index(['Period', 'Frame', 'Time [s]', 'Player25', 'Unnamed: 4', 'Player15',
       'Unnamed: 6', 'Player16', 'Unnamed: 8', 'Player17', 'Unnamed: 10',
       'Player18', 'Unnamed: 12', 'Player19', 'Unnamed: 14', 'Player20',
       'Unnamed: 16', 'Player21', 'Unnamed: 18', 'Player22', 'Unnamed: 20',
       'Player23', 'Unnamed: 22', 'Player24', 'Unnamed: 24', 'Player26',
       'Unnamed: 26', 'Player27', 'Unnamed: 28', 'Player28', 'Unnamed: 30',
       'Ball', 'Unnamed: 32', 'team', 'Player11', 'Player1', 'Player2',
       'Player3', 'Player4', 'Player5', 'Player6', 'Player7', 'Player8',
       'Player9', 'Player10', 'Player12', 'Player13', 'Player14'],
      dtype='object')

In [13]:
df['event_id'] = df.index.astype(str)
df['activity'] = df['Type'] #+ df['Subtype'].fillna('').apply(lambda s: f' - {s}' if s else '')
df['timestamp'] = pd.to_datetime(df['Start Time [s]'], unit='s', origin='unix')
df['attribute:duration'] = df['End Time [s]'] - df['Start Time [s]']

#df.rename(columns={
#    'event_id': 'ocel:eid',
#    'activity': 'ocel:activity',
#    'timestamp': 'ocel:timestamp',
#    'From': 'ocel:type:from',
#    'To': 'ocel:type:to',
#    'Subtype': 'ocel:subtype',
#    'Start X': 'ocel:location:start_x',
#    'Start Y': 'ocel:location:start_y',
#    'End X': 'ocel:location:end_x',
#    'End Y': 'ocel:location:end_y'
#}, inplace=True)

df.rename(columns={
    'event_id': 'case:concept:name',
    'activity': 'concept:name',
    'timestamp': 'time:timestamp',
    'From': 'ocel:type:from',
    'To': 'ocel:type:to',
    'Subtype': 'attribute:subtype',
    'Start X': 'attribute:start_x',
    'Start Y': 'attribute:start_y',
    'End X': 'attribute:end_x',
    'End Y': 'attribute:end_y'
}, inplace=True)
df
#df.to_csv('sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData_ocel.csv', index=False)

,Team,Type,attribute:subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],ocel:type:from,ocel:type:to,attribute:start_x,attribute:start_y,attribute:end_x,attribute:end_y,case:concept:name,concept:name,time:timestamp,attribute:duration
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN,0,SET PIECE,1970-01-01 00:00:00.040,-0.04
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,0.45,0.39,0.55,0.43,1,PASS,1970-01-01 00:00:00.040,0.08
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21,2,PASS,1970-01-01 00:00:00.120,0.56
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31,3,PASS,1970-01-01 00:00:01.800,0.64
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,0.45,0.32,0.49,0.47,4,PASS,1970-01-01 00:00:03.080,0.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,Home,PASS,NaN,2,143361,5734.44,143483,5739.32,Player12,Player13,0.60,0.33,0.19,0.95,1740,PASS,1970-01-01 01:35:34.440,4.88
1741,Home,PASS,NaN,2,143578,5743.12,143593,5743.72,Player13,Player4,0.09,0.88,0.14,0.69,1741,PASS,1970-01-01 01:35:43.120,0.60
1742,Home,BALL LOST,INTERCEPTION,2,143598,5743.92,143618,5744.72,Player4,NaN,0.13,0.69,0.07,0.61,1742,BALL LOST,1970-01-01 01:35:43.920,0.80
1743,Away,RECOVERY,BLOCKED,2,143617,5744.68,143617,5744.68,Player16,NaN,0.05,0.62,NaN,NaN,1743,RECOVERY,1970-01-01 01:35:44.680,0.00
1744,Away,BALL OUT,NaN,2,143622,5744.88,143630,5745.20,Player16,NaN,0.05,0.63,0.03,1.01,1744,BALL OUT,1970-01-01 01:35:44.880,0.32

In [14]:
from pm4py.objects.ocel.util.log_ocel import from_traditional_pandas as pd_to_ocel

In [15]:
parameters = {
    "activity_key": "concept:name",
    "timestamp_key": "time:timestamp",
    "case_id_key": "case:concept:name",
    "target_object_type": "Team",
    "case_attribute_prefix": "attribute:"
}

ocel=pd_to_ocel(df, parameters=parameters)

c:\Users\Vito\Documents\pm\Soccer\.venv\lib\site-packages\pm4py\objects\ocel\util\log_ocel.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relations[ocel_constants.DEFAULT_OBJECT_TYPE] = target_object_type

In [11]:
ocel.get_extended_table()

,ocel:eid,Type,Start Frame,attribute:end_x,End Frame,Team,ocel:type:from,ocel:activity,attribute:start_y,Start Time [s],ocel:type:to,ocel:timestamp,End Time [s],attribute:start_x,Period,attribute:subtype,attribute:end_y,ocel:type:Team
0,E0,SET PIECE,1,NaN,0,Away,Player19,SET PIECE,NaN,0.04,NaN,1970-01-01 00:00:00.040,0.00,NaN,1,KICK OFF,NaN,[0]
1,E1,PASS,1,0.55,3,Away,Player19,PASS,0.39,0.04,Player21,1970-01-01 00:00:00.040,0.12,0.45,1,NaN,0.43,[1]
2,E2,PASS,3,0.58,17,Away,Player21,PASS,0.43,0.12,Player15,1970-01-01 00:00:00.120,0.68,0.55,1,NaN,0.21,[2]
3,E3,PASS,45,0.45,61,Away,Player15,PASS,0.19,1.80,Player19,1970-01-01 00:00:01.800,2.44,0.55,1,NaN,0.31,[3]
4,E4,PASS,77,0.49,96,Away,Player19,PASS,0.32,3.08,Player21,1970-01-01 00:00:03.080,3.84,0.45,1,NaN,0.47,[4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740,E1740,PASS,143361,0.19,143483,Home,Player12,PASS,0.33,5734.44,Player13,1970-01-01 01:35:34.440,5739.32,0.60,2,NaN,0.95,[1740]
1741,E1741,PASS,143578,0.14,143593,Home,Player13,PASS,0.88,5743.12,Player4,1970-01-01 01:35:43.120,5743.72,0.09,2,NaN,0.69,[1741]
1742,E1742,BALL LOST,143598,0.07,143618,Home,Player4,BALL LOST,0.69,5743.92,NaN,1970-01-01 01:35:43.920,5744.72,0.13,2,INTERCEPTION,0.61,[1742]
1743,E1743,RECOVERY,143617,NaN,143617,Away,Player16,RECOVERY,0.62,5744.68,NaN,1970-01-01 01:35:44.680,5744.68,0.05,2,BLOCKED,NaN,[1743]
1744,E1744,BALL OUT,143622,0.03,143630,Away,Player16,BALL OUT,0.63,5744.88,NaN,1970-01-01 01:35:44.880,5745.20,0.05,2,NaN,1.01,[1744]

In [ ]:
from ocpa.objects.log.importer.csv import factory as ocel_import_factory
filename = "sample-data\data\Sample_Game_1\Sample_Game_1_RawEventsData.csv"
object_types = ["From", "To"]
parameters = {"obj_names":object_types,
              "val_names":[],
              "act_name":"Type",
              "time_name":"Start Time [s]",
              "sep":","}
ocel = ocel_import_factory.apply(file_path= filename,parameters = parameters)

KeyError: 'sep'

In [4]:
df_log = pm4py.format_dataframe(df)

Exception: case:concept:name column (case ID) is not in the dataframe!

In [ ]:
import pandas as pd
#from pm4py.objects.ocel.importer.importer import apply as import_ocel
from pm4py.objects.ocel.obj import OCEL
import uuid
from datetime import datetime, timedelta



# --- Create OCEL Relations Table ---
relations = []

for idx, row in df.iterrows():
    eid = str(row['event_id'])
    for col in ['From', 'To']:
        if pd.notna(row[col]):
            relations.append({
                "ocel:eid": eid,
                "ocel:oid": row[col],
                "ocel:otype": "player"
            })

relations_df = pd.DataFrame(relations)

# --- Create OCEL Objects Table ---
player_ids = pd.unique(relations_df["ocel:oid"])
objects_df = pd.DataFrame({
    "ocel:oid": player_ids,
    "ocel:otype": ["player"] * len(player_ids)
})

# --- Create the OCEL ---
ocel = OCEL(events=events_df, objects=objects_df, relations=relations_df)

In [8]:
from pm4py.objects.ocel.util.flattening import flatten

# Flatten the OCEL using 'player' as the object type
df_flattened = flatten(ocel, ot='player')
from pm4py.algo.discovery.dfg import algorithm as dfg_discovery
from pm4py.visualization.dfg import visualizer as dfg_visualization

# Discover the DFG
dfg = dfg_discovery.apply(df_flattened)

# Visualize the DFG
gviz = dfg_visualization.apply(dfg)
dfg_visualization.view(gviz)

KeyError: 'ocel:type'

Signature:
pd_to_ocel(
    df: pandas.core.frame.DataFrame,
    parameters: Optional[Dict[Any, Any]] = None,
) -> pm4py.objects.ocel.obj.OCEL
Docstring:
Transforms a dataframe to an OCEL

Parameters
-----------------
df
    Pandas dataframe
parameters
    Parameters of the algorithm, including:
    - Parameters.TARGET_OBJECT_TYPE => the name of the object type to which the cases should be mapped
    - Parameters.ACTIVITY_KEY => the attribute to use as activity
    - Parameters.TIMESTAMP_KEY => the attribute to use as timestamp
    - Parameters.CASE_ID_KEY => the attribute to use as case identifier
    - Parameters.CASE_ATTRIBUTE_PREFIX => the prefix identifying the attributes at the case level

Returns
-----------------
ocel
    OCEL (equivalent to the provided event log)
File:      c:\users\vito\documents\pm\soccer\.venv\lib\site-packages\pm4py\objects\ocel\util\log_ocel.py
Type:      function